body {
    background-image: url(../images/light-grey-terrazzo.png);
}

.navbar {
    color: navy;
}

#main-bio {
    background-color: lightskyblue;
    padding: 10px;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

#portfolio {
    margin-left: 100px;
    margin-right: 100px;
}

.carousel-inner p {
    color: yellow;
}

.carousel-inner h5 {
    color: yellow;
}

.footer {
    text-align: center;
    background-color: navy;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

p {
    font-size: 20px;
}

h3 {
    text-align: center;
}

img {
  border-radius: 8px;
  width: 200px;
  height: 200px;
}