body {
    background-image: url(../images/light-grey-terrazzo.png);
}

.navbar {
    color: navy;
    position: sticky;
    width: 100%;
}

#main-bio {
    background-color: wheat;
    padding: 10px;
    border-radius: 8px;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
}

#portfolio {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgray;
    border-radius: 8px;
}

.card-deck {
    margin-left: 10px;
    margin-right: 10px;
}

#contact {
    background-color: wheat;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer {
    text-align: center;
    background-color: navy;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

p {
    font-size: 20px;
}

h3 {
    text-align: center;
}

img {
  border-radius: 8px;
  width: 200px;
  height: 200px;
}